<!DOCTYPE html>
<html>
<link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
<style type="text/css">
	.loginbox{
    width: 320px;
    height: 420px;
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 50px 30px;
    border-color: #000;
	}

	body{
    background: linear-gradient(to right,#360033, #0b8793);
    background-size: cover;
    background-position: center;
    font-family: 'Monoton', cursive;
	}

	h1{
    margin: 0;
    padding: 0 0 30px;
    text-align: center;
    font-size: 22px;
    color: white;
	}

	.loginbox p {
    margin:0;
    padding: 0;
    font-weight: bold; 
	}

	.loginbox input{
    width: 100%;
    margin-bottom: 20px;

	}

	.loginbox input[type="text"], input[type = "password"]
	{   
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
	}

	.loginbox input[type="submit"]
	{
    border: none;
    outline: none;
    height: 40px;
    background:  #0b8793;
    color: #fff;
    font: 18px; 
    border-radius: 20px;
	}

	.loginbox input[type="submit"]:hover
	{
    cursor: pointer;
    background:  lavender;
    color: #000;
    font-weight: bold;
	}

	.loginbox a{
    text-decoration: none;
    line-height: 20px;
    color:#000;
	}

	p {
	color: white;
	}

	#he{
		color: white;
		font-size: 11px;
	}
</style>
<head>
	<title>BMNC LOGIN</title>
</head>
<body>
	<div class="loginbox">
		<h1>Login</h1>
		<form>
			<p>Username</p>
        <input type="text" name="" required="Usernam required" placeholder="Enter Username">
        <p>Password</p>
        <input type="password" name="" required = "Password required" placeholder="Enter Password">
        <input type="submit" name="" value="Login">
        <a href="{% url 'register:index'%}" id="he">Don't have an account? Register now</a>
		</form>
	</div>

</body>
</html>