{% load static from staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{% static 'theme.css' %}" type="text/css"> </head>

<body class="bg-gradient-dark">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
      <a class="navbar-brand" href="#">BMNC</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Berita</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Lihat Berita</a>
              <a class="dropdown-item" href="/berita/">Tambah Berita</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Polling</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href= "/poll-biasa/">Polling Biasa</a>
              <a class="dropdown-item" href= "/poll-berita/">Polling Berita</a>
            </div>
          </li>
        </ul>
        <form class="form-inline m-0">
          <input class="form-control mr-2" type="text" placeholder="Search">
          <button class="btn btn-secondary" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="" id="partForm">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form class="d-flex flex-column py-5" action="/post-berita/" method="post">
            {% csrf_token %}
            <h1 class="text-center">Tambah Berita</h1>
            <div class="form-group">
              <label>Judul</label>
              <input type="text" class="form-control" name="judul"> </div>
            <div class="form-group">
              <label for="inlineFormInput1">Url</label>
              <input type="text" class="form-control" id="inlineFormInput1" name="url"> </div>
            <div class="form-group">
              <label for="inlineFormInput2">Topik</label>
              <input type="text" class="form-control" id="inlineFormInput2" name="topik"> </div>
            <div class="form-group">
              <label for="inlineFormInput3">Jumlah Kata</label>
              <input type="text" class="form-control" id="inlineFormInput3" name="jumlahKata"> </div>
            <div class="form-group">
              <label for="inlineFormInput4">Tag</label>
              <input type="text" class="form-control" id="inlineFormInput4" name="tag"> </div>
            <button type="submit" class="btn btn-secondary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script>
    $("#tambahBerita").on("click", function(e){
    	$("#partForm").html(
      '<div class="container">' +
        '<div class="row">' +
          '<div class="col-md-12">' +
            '<form class="d-flex flex-column py-5" action="tambah-berita/" method="post">' +
              '<h1 class="text-center">Tambah Berita</h1>' +
              '<div class="form-group">' +
                '<label>Judul</label>' +
                '<input type="text" class="form-control" name="judul"> </div>' +
              '<div class="form-group">' +
                '<label for="inlineFormInput1">Url</label>' +
                '<input type="text" class="form-control" id="inlineFormInput1" name="url"> </div>' +
              '<div class="form-group">' +
                '<label for="inlineFormInput2">Topik</label>' +
                '<input type="text" class="form-control" id="inlineFormInput2" name="topik"> </div>' +
              '<div class="form-group">' +
                '<label for="inlineFormInput3">Jumlah Kata</label>' +
                '<input type="text" class="form-control" id="inlineFormInput3" name="jumlahKata"> </div>' +
              '<div class="form-group">' +
                '<label for="inlineFormInput4">Tag</label>' +
                '<input type="text" class="form-control" id="inlineFormInput4" name="tag"> </div>' +
              '<button type="submit" class="btn btn-secondary">Submit</button>' +
            '</form>' +
          '</div>' +
        '</div>' +
      '</div>'
      )
    });
    $("#pollingBerita").on("click", function(e){
    	$("#partForm").html(
      '<div class="container">' +
        '<div class="row">' +
          '<div class="col-md-12">' +
            '<form class="d-flex flex-column py-5" action="poll-berita/" method="post">' +
              '<h1 class="text-center">Tambah Polling Berita</h1>' +
              '<div class="form-group">' +
                '<label>Url Berita</label>' +
                '<input type="text" class="form-control" name="urlBerita"> </div>' +
              '<div class="form-group">' +
                '<label for="inlineFormInput1">Waktu Mulai</label>' +
                '<input type="text" class="form-control" id="inlineFormInput1" name="waktuMulai"> </div>' +
              '<div class="form-group">' +
                '<label for="inlineFormInput2">Waktu Selesai</label>' +
                '<input type="text" class="form-control" id="inlineFormInput2" name="waktuSelesai"> </div>' +
              '<div class="form-group">' +
                '<label for="inlineFormInput3">Pertanyaan 1</label>' +
                '<input type="text" class="form-control" id="inlineFormInput3" name="pertanyaanSatu"> </div>' +
              '<div class="form-group">' +
                '<label for="inlineFormInput4">Pertanyaan 2</label>' +
                '<input type="text" class="form-control" id="inlineFormInput4" name="pertanyaanDua"> </div>' +
              '<button type="submit" class="btn btn-secondary">Submit</button>' +
            '</form>' +
          '</div>' +
        '</div>' +
      '</div>'
      )
    });
    $("#pollingBiasa").on("click", function(e){
    	$("#partForm").html(
      '<div class="container">' +
        '<div class="row">' +
          '<div class="col-md-12">' +
            '<form class="d-flex flex-column py-5" action="poll-biasa/" method="post">' +
              '<h1 class="text-center">Tambah Polling Biasa</h1>' +
              '<div class="form-group">' +
                '<label>Deskripsi</label>' +
                '<input type="text" class="form-control" name="deskripsi"> </div>' +
              '<div class="form-group">' +
                '<label for="inlineFormInput1">Waktu Mulai</label>' +
                '<input type="text" class="form-control" id="inlineFormInput1" name="waktuMulai"> </div>' +
              '<div class="form-group">' +
                '<label for="inlineFormInput2">Waktu Selesai</label>' +
                '<input type="text" class="form-control" id="inlineFormInput2" name="waktuSelesai"> </div>' +
              '<div class="form-group">' +
                '<label for="inlineFormInput3">Pertanyaan 1</label>' +
                '<input type="text" class="form-control" id="inlineFormInput3" name="pertanyaanSatu"> </div>' +
              '<div class="form-group">' +
                '<label for="inlineFormInput4">Pertanyaan 2</label>' +
                '<input type="text" class="form-control" id="inlineFormInput4" name="pertanyaanDua"> </div>' +
              '<button type="submit" class="btn btn-secondary">Submit</button>' +
            '</form>' +
          '</div>' +
        '</div>' +
      '</div>'
      )
    });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 10px;right:10px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:250px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;
    <img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16">
  </pingendo>
</body>

</html>